@media all and (max-width: 1280px) {
	.decribe-content-item {
		width: 41%;
		float: none;
		padding-top: 100px;
	}
}
@media all and (max-width: 768px) {
	.header-section {
		padding: 0 0;
	}
	.welcome-text {
		margin-top: -52px;
	}
	.welcome-text h1 {
		line-height: 1.0em;
		display: inline;
	}
	.services-section {
		padding: 100px 0;
	}
	.service {
		width: 50%;
	}
	.services-another {
		width: 100%;
		padding: 0 0;
	}
	.mobile-image {
		width: 100%;
	}
	.mobile-image img {
		width: 60%;
		display: block;
		margin: 0 auto;
	}
	.mobile-services {
		width: 50%;
	}
	.mobile-services-two {
		width: 50%;
	}
	.service-feature {
		width: 50%;
		margin: 0 auto;
		float: none;
		padding-top: 0px;
	}
	.feature-image {
		width: 60%;
		float: none;
		overflow: initial;
		margin: 24px auto;
	}
	.feature-service {
		width: 50%;
		margin: 0 auto;
		float: none;
		padding-top: 0px;
	}
	.third-services {
		padding: 0 0;
	}
	h3 {
		font-size: 17px;
	}
	.twineup {
		display: none;
	}
	.twineback {
		width: 100%;
		left: 0;
		top: 0;
	}
	.decribe-content-item {
		float: left;
		padding-top: 0px;
		width: 90%;
		padding-bottom: 71px;
	}
	.decribe-second-left {
		width: 100%;
		float: left;
		padding-top: 0px;
	}
	.decribe-second-right {
		width: 60%;
		overflow: hidden;
		margin: 0 auto;
		padding-top: 50px;
	}
	.decribe-second {
		padding: 50px 0;
	}
	.fluid-width-video-wrapper {
		width: 100% !important;
		height: 188px;
	}
	.describe-third-top {
		padding: 70px 0;
	}
	.describe-third-left {
		width: 60%;
		margin: 0 auto;
		float: none;
	}
	.describe-third-right {
		float: none;
		width: 70%;
		padding-top: 20px;
		text-align: justify;
		margin: 0 auto;
	}
	.pricing-table {
		width: 60%;
		margin: 15px auto;
		float: none;
	}
	.client-comment {
		padding-top: 34px;
	}
	.client-item p {
		text-align: justify;
	}
	.download-head p {
		max-width: 78%;
		font-size: 13px;
	}
	.download-app {
		width: 33%;
	}
	.download-item {
		margin: 5px 0;
	}
	.subscribe {
		padding-top: 14px;
	}
	.subs-form form input {
		border-radius: 4px;
	}
	.subs-form form a {
		display: block;
		width: 42%;
		margin: 14px auto;
		border-radius: 4px;
	}
	.contact-head p {
		max-width: 80%;
	}
	.contact-form {
		width: 70%;
	}
	.social-media ul {
		max-width: 27%;
	}
	.social-media ul li {
		display: inline-block;
		margin: 8px 6px;
	}
	
	.welcome-iphone-text {
		padding: 432px 0;
	}
	.iphone {
		top: 113px;
		background-position: top left;
		background-size: 47% 46%;
	}
	.welcome-text {
		float: left;
		margin-left: 28px;
		margin-top: 352px;
	}
	.welcome-text h1 {
		line-height: 1.2em;
		font-size: 20px;
		letter-spacing: 0;
		display: block;
	}
	.download-area {
		padding: 7px 0;
	}
	.welcome-text p {
		font-size: 15px;
		width: 80%;
		text-align: justify;
	}
	.download-area {
		padding: 7px 0;
		width: 64%;
		margin-left: -7px;
	}
	.btn-filled {
		font-size: 12px;
		padding: 10px 30px;
	}
	.btn-nocolor .fa {
		left: 10px;
	}
	.logo img {
		width: 20%;
		height: 37px;
	}
	.top-area {
		top: 30px;
	}
	.scrolltop a {
		right: 70px;
		bottom: 100px;
	}
	.social-media ul li {
		margin: 11px 6px;
	}
	
}

@media all and (max-width: 767px) {
	.menu-area ul {
		display: none;
	}
	.menu-sign {
		display: block;
	}
	.is-sticky .menu-sign {
		margin-top: 29px;
		font-size: 19px;
	}
	.is-sticky .menu-sign a {
		margin-left: 32px;
		margin-top: 3px;
	}
}

@media all and (max-width: 360px){
	.logo img {
		width: 35%;
	}
	.is-sticky .logo img {
		width: 35%;
	}
	.iphone {
		top: 106px;
		background-position: top center;
		background-size: 54% auto;
		left: 12px;
	}
	.welcome-iphone-text {
		padding: 320px 0;
	}
	.welcome-text {
		float: none;
		margin-left: 97px;
		margin-top: 243px;
	}
	.welcome-text h1 {
		font-size: 18px;
		display: inline;
	}
	.welcome-text p {
		font-size: 13px;
		width: auto;
	}
	.btn-filled {
		font-size: 11px;
		padding: 2px 29px;
	}
	.mobile-image img {
		width: 90%;
		margin: -51px auto;
	}
	.service {
		width: 100%;
		margin: 11px 0;
	}
	.service-item {
		width: 100%;
		padding: 11px 0;
	}
	.mobile-services {
		width: 100%;
	}
	.mobile-services-two {
		width: 100%;
		margin: -34px 0;
	}
	.service-feature {
		width: 100%;
	}
	.feature-service {
		width: 100%;
	}
	.feature-image {
		width: 90%;
	}
	.third-services {
		padding: 0 0;
	}
	.decribe-second {
		padding: 0 0;
	}
	.decribe-right-item {
		width: 100%;
	}
	.decribe-second-item {
		padding-top: 0;
	}
	h4 {
		font-size: 22px;
	}
	.decribe-right-content p {
		font-size: 14px;
	}
	.decribe-second-right {
		width: 90%;
	}
	.describe-video {
		padding: 183px 0;
	}
	.describe-third-left {
		width: 90%;
	}
	.describe-third-right p {
		font-size: 12px;
		max-width: 100%;
	}
	.describe-third-top {
		padding: 50px 0;
	}
	.app-content p {
		max-width: 100%;
		font-size: 15px;
	}
	.app-content {
		padding-top: 60px;
	}
	.pricing-table {
		width: 100%;
	}
	.pricing-section {
		padding: 25px 0;
	}
	.client-comment {
		padding-top: 10px;
	}
	.client-item {
		width: 100%;
	}
	.client-item p {
		text-align: justify;
	}
	.download-app {
		width: 66%;
	}
	.download-head p {
		text-align: justify;
	}
	.contact-head p {
		max-width: 90%;
		margin: -14px auto;
		text-align: justify;
	}
	.contact-form {
		width: 91%;
		padding-bottom: 43px;
	}
	.contactus-section {
		padding: 37px 0;
	}
	.contact-footer {
		bottom: 44px;
	}
	.social-media ul {
		max-width: 57%;
	}
	.copy-right {
		width: 74%;
	}
	.scrolltop a {
		padding: 4px 6px;
		right: 20px;
		bottom: 72px;
	}
	.client-comment .owl-pagination {
		margin-top: -27px;
	}
}

@media all and (max-width: 320px) {
	.welcome-text h1 {
		font-size: 16px;
		line-height: 1em;
	}
	.welcome-text p {
		font-size: 12px;
	}
	h4 {
		font-size: 21px;
		line-height: 1.4em;
	}
	.decribe-content p {
		font-size: 14px;
	}
	.decribe-item-content p {
		font-size: 13px;
	}
	.app-content {
		padding-top: 50px;
	}
	.download-section {
		padding: 26px 0;
	}
	.download-app {
		width: 78%;
	}
	.download-head p {
		max-width: 84%;
		margin-top: -12px;
	}
	.subs-form form input {
		padding: 14px; 
	}
	.social-media ul {
		max-width: 67%;
	}
	.copy-right {
		width: 82%;
	}
	.client-comment .owl-pagination {
		margin-top: -28px;
	}
}



