/*---------------------------------------------------------
	Template Name: Zoom UI Kit
	Template URI:  http://www.zoom.com
	Description:   App landing template
	Author:        UIMint
	Author URI:    http://www.dhimanbarua.com
	License:       GNU General Public License version 3.0
	License URI:   http://www.gnu.org/licenses/gpl-3.0.html
	Version:       1.0
------------------------------------------------------------
	1. Typography Section
	2. Header Section
		2.1 Right Pagination Bar
		2.2 Menu Area
	3. Services section
		2.1 Second Services
		2.2 Third Services
	4. Feature-Video Section
	5. Description First Section
		5.1 Describe Second Section
		5.2 Describe-Video Section
		5.3 Description Third Section
	6. App Gallery Section
	7. Pricing Table Section
	8. Client Comment Section
	9. Client Logo Section
	10. Download Section
	11. Subscribe Section
	12. Contact Us Section
	13. Footer Section
	
------------------------------------------------------------*/
	/*--------------
		[1. Typography Section Styles]

		Project: Apps landing Template
		Version: 1.0
		Last Change: 23-1-2016
		Use For Competition: Zoom UI Kit
	--------------*/
@font-face {
	font-family: "Montserrat Light";
	src: url(fonts/Montserrat-Light.woff) format('woff');
}

@font-face {
	font-family: "Montserrat Regular";
	src: url(fonts/Montserrat-Regular.woff) format('woff');
}

@font-face {
	font-family: "Montserrat SemiBold";
	src: url(fonts/Montserrat-SemiBold.woff) format('woff');
}
body,
p {
	font-family: "Montserrat Light";
	font-size: 12px;
	line-height: 1.3em;
}
h1 {
    font-family: "Montserrat Regular";
    font-size: 26px;
    line-height: 1.4em;
    width: 75%;
    letter-spacing: 1px;
}
h2 {
    font-family: "Montserrat Regular";
    color: #585b60;
    padding-top: 16px;
    font-size: 17px;
}
h3 {
	font-family: "Montserrat Regular";
    color: #fFFFFF;
    text-align: center;
    font-size: 20px;
}
h4 {
	font-family: "Montserrat Regular";
	color: #585b60;
	font-size: 25px;
	text-transform: capitalize;
}
h5 {
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;
}
	/*--------------
		[1. header section Styles]

		Project: Apps landing Template
		Version: 1.0
		Last Change: 23-1-2016
		Use For Competition: Zoom UI Kit
	--------------*/
.container {
	width: 70%;
	margin: auto;
}

.header-section {
	background: url(images/zoom-header-bg.jpg);
	padding: 40px 0;
	position: relative;
}
/****** is-sticky ******/
.top-area {
    z-index: 999;
	width: 100%;
	height: 70px;
	position: relative;
}
.is-sticky .top-area::after {
	background-image: linear-gradient(to bottom right, #f75988, #56407b);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: "";
	z-index: -1;
	opacity: .6;
}
.is-sticky .logo img {
    width: 15%;
    height: 40px;
    padding: 12px 0;
}
.is-sticky .menu-area {
    padding: 20px 0;
}
.logo img,
.menu-area,
.menu-sign  {
	transition: .4s;
}
/****** is-sticky End ******/

/***** 2.2 Pagination Bar ******/
.pagination {
    position: fixed;
    z-index: 2;
    right: 23px;
    top: 65px;
    list-style: none;
}
.pagination li {
	margin: 0 0 15px 0;
}
/****** Pagination Bar End *******/

.logo img{
	width: 15%;
	float: left;
}

/******** 2.2 Menu Area ********/
.menu-area {
	overflow: hidden;
	width: 80%;
}
.menu-area ul {
	float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-area ul li {
	display: inline;
	margin: 0 5px;
}
.menu-area ul li a {
	font-family: "Montserrat SemiBold";
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	padding: 7px 2px;
	border-bottom: 2px solid transparent;
	transition: 1s;
}
.menu-sign {
    font-family: "Montserrat SemiBold";
    float: right;
    color: #FFF;
    margin-right: 16px;
    font-size: 19px;
    display: none;
    margin-top: 6px;
}
.menu-sign a {
    display: block;
    text-decoration: none;
    color: #FFF;
    margin-left: 33px;
}
.is-sticky .menu-area ul li:hover a {
	color: #F34B7F;
}
.menu-area ul li:hover a {
	border-bottom: 2px solid #FFFFFF;
}
/******** Menu Area End ********/

.welcome-iphone-text {
    padding: 355px 0;
}
.iphone {
    background-image: url('images/Zoom-Iphone.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 40% auto;
    padding: 70px 0;
    position: absolute;
    top: 234px;
    bottom: -136px;
}  
.welcome-text {
    overflow: hidden;
    width: 60%;
    float: right;
    color: #FFFFFF;
}
.welcome-text p {
    font-size: 16px;
    width: 68%;
    line-height: 1.4em;
}
.download-area {
	padding: 30px 0;
}
.btn-filled {
	font-family: "Montserrat Regular";
	font-size: 14px;
	z-index: 1;
    position: relative;
    text-decoration: none;
    color: #585b60;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 50px;
    margin: 0 5px;
	border: 2px solid transparent;
}
.btn-filled::after {
	z-index: -1;
	position: absolute;
	content: "";
	background: #FFFFFF;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.btn-filled.btn-nocolor::after {
    background: transparent;
    border: 2px solid #FFFFFF;
	color: #FFFFFF;
}
.btn-nocolor {
	color: #FFFFFF;
}
.btn-nocolor .fa {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 11px;
    width: 12px;
    position: absolute;
    left: 32px;
    text-align: center;
    top: 11px;
}
.btn-filled:hover {
	opacity: .8;
	transition: 1s;
}
	/*--------------
		[2. Services section Styles]

		Project: Apps landing Template
		Version: 1.0
		Last Change: 23-1-2016
		Use For Competition: Zoom UI Kit
	--------------*/

.services-section {
	background: #f8f9fb;
	padding-top: 212px;
	overflow: hidden;
}
.services-content {
	
}
.service {
    width: 25%;
    float: left;
    text-align: center;
}
.service a,
.service-item a{
    background: #FFFFFF;
    padding: 11px 16px;
    border-radius: 25px;
    border: 2px solid #e9ebec;
    color: #000000;
    font-size: 18px;
}
.service p,
.service-item p {
	font-size: 15px;
	color: #9da6ac;
}
.services-another {
    padding: 43px 0;
    clear: both;
    width: 50%;
    margin: auto;
}
.service-item {
    width: 50%;
    float: left;
    text-align: center;
    padding: 30px 0;
}
/***************** 2.1 Second Services *****************/
.second-services {
	background: #FFFFFF;
	padding: 90px 0;
	clear: both;
	overflow: hidden;
}
.mobile-image {
	width: 40%;
	float: left;
}
.mobile-image img {
	width: 100%;
}
.mobile-services {
	width: 30%;
	float: left;
	padding-top: 60px;
}
.mobile-item a {
	float: left;
	margin-top: 20px;
	background: #FFFFFF;
    padding: 11px 16px;
    border-radius: 25px;
    border: 2px solid #e9ebec;
    color: #9da6ac;
    font-size: 18px;
}
.mobile-content {
	overflow: hidden;
	padding-left: 10px;
}
.mobile-content p {
	color: #9da6ac;
	font-size: 15px;
}
.mobile-services-two {
	width: 30%;
	float: left;
	padding-top: 60px;
}
.mobile-item-two a {
	float: left;
	margin-top: 20px;
	background: #FFFFFF;
    padding: 11px 16px;
    border-radius: 25px;
    border: 2px solid #e9ebec;
    color: #9da6ac;
    font-size: 18px;
}
/******* 2.2 Third Services ********/
.third-services {
	padding: 90px 0;
	overflow:hidden;
}
.service-feature {
	width: 30%;
	float: left;
	padding-top: 95px;
}
.feature-content a {
    float: right;
	background: #FFFFFF;
    padding: 10px 14px;
    border-radius: 20px;
    border: 2px solid #e9ebec;
    margin-top: 22px;
    font-size: 18px;
    color: #000000;
}
.item-feature {
	overflow: hidden;
}
.item-feature p {
	color: #9da6ac;
    font-size: 15px;
}
.feature-image {
	width: 40%;
	float: left;
	overflow: hidden;
}
.feature-image img {
	width: 100%;
	height: auto;
}

.feature-service {
	width: 30%;
	float: left;
	overflow: hidden;
	padding-top: 95px;
}
.feature-item a {
	float: left;
	background: #FFFFFF;
    padding: 10px 14px;
    border-radius: 20px;
    border: 2px solid #e9ebec;
    margin-top: 22px;
    font-size: 18px;
    color: #000000;
}
.content-feature {
	overflow: hidden;
	padding-left: 27px;
}
.content-feature p {
	color: #9da6ac;
    font-size: 15px;
}


	/*--------------
		[3. Feature-Video Section Styles]

		Project: Apps landing Template
		Version: 1.0
		Last Change: 23-1-2016
		Use For Competition: Zoom UI Kit
	--------------*/

.feature-video {
	overflow: hidden;
	position: relative;
	padding: 150px 0;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(to bottom right, #f75988, #56407b);
	opacity: .9;
}
.feature-video video  {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    z-index: -100;
    top: 0%;
    right: 0%;
	background: url('images/polina.jpg') no-repeat;
	background-size: cover;
}
.video-content button {
	background: transparent;
	border: none;
	display: block;
	margin: 0 auto;
}
.video-content button i {
    color: #FFFFFF;
    font-size: 40px;
    width: 256px;
}
.video-content {
    padding-top: 129px;
}

	/*--------------
		[5. Description First Section Styles]

		Project: Apps landing Template
		Version: 1.0
		Last Change: 23-1-2016
		Use For Competition: Zoom UI Kit
	--------------*/


.decribe-first {
	overflow: hidden;
}

.iphone-twine {
	float: left;
	width: 60%;
	padding: 57px 0;
}
.twineup {
    position: absolute;
    z-index: 1;
}
.twineback {
    position: relative;
    left: 181px;
    top: 64px;
}
.decribe-content-item {
	width: 40%;
	float: right;
	overflow: hidden;
	padding-top: 130px;
}
.decribe-item a {
    float: left;
    padding-top: 26px;
    color: #ff3366;
    font-size: 31px;
}
.decribe-item-content {
	overflow: hidden;
	padding-left: 10px;
}
.decribe-content p {
	color: #9da6ac;
	font-size: 15px;
}
.decribe-item-content h2 {
	text-transform: uppercase;
}
.decribe-item-content p {
	color: #000000;
    font-size: 11px;
}

/********** 5.1 Describe Section Second **********/

.decribe-second {
	clear: both;
	padding: 130px 0;
}
.decribe-second-item {
    padding-top: 35px;
}
.decribe-second-left {
    width: 60%;
    float: left;
    padding-top: 100px;
}
.decribe-right-item {
	width: 50%;
	float: left;
}
.decribe-right-item a {
	float: left;
    padding-top: 26px;
    color: #ff3366;
    font-size: 31px;
}
.decribe-right-content {
    overflow: hidden;
    padding-left: 10px;
}
.decribe-right-content p {
	color: #000000;
    font-size: 11px;
}
.decribe-second-right {
	width: 40%;
	overflow: hidden;
}
.single-image img {
	width: 100%;
}

/****** 5.2 Describe-Video Section ***********/

.describe-video {
    background: url('images/zoom-cycle.jpg') no-repeat;
    padding: 250px 0;
    background-size: 100% 100%;
	position: relative;
}
.vendor {
    max-width: 100%;
    height: auto;
	padding-top: 39px;
}
.vendor iframe {
	max-width: 100%;
	border-radius: 20px;
	border: none;
}
.fluid-width-video-wrapper {
	width: 74%!important;
	margin: 0 auto;
	position: relative;
	padding: 0;
}
/******* 5.3 Description Third Section ********************/

.describe-third {
	background: #f8f9fb;
	overflow: hidden;
}
.describe-third-top {
	padding: 100px 0;
}
.describe-third-left {
	float: left;
	width: 40%;
}
.describe-third-left img {
	width: 100%;
}
.describe-third-right {
	float: right;
	width: 60%;
	overflow: hidden;
	padding-top: 20px;
}
.describe-third-right p {
	color: #9da6ac;
	font-size: 17px;
	max-width: 90%;
}
.describe-third-right p strong {
	color: #ff3366;
}

	/*--------------
		[6. App Gallery Section Styles]

		Project: Apps landing Template
		Version: 1.0
		Last Change: 23-1-2016
		Use For Competition: Zoom UI Kit
	--------------*/


.app-section {
	background: #3c3852;
	overflow: hidden;
}
.app-content {
    text-align: center;
    padding-top: 110px;
}
.app-content  h4 {
	color:#FFFFFF;
}
.app-content p {
    color: #FFFFFF;
    font-size: 17px;
    max-width: 55%;
    margin: 0 auto;
}
.app-demo {
	padding: 40px 0;
}
.app-item {
	margin: 3px;
}
.app-item img {
	width: 100%;
	height: auto;
	display: block;
}
.owl-theme .owl-controls .owl-page span {
	background: #555268;
	width: 10px;
	height: 10px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background: #ff3366;
}


	/*--------------
		[7. Pricing Table Section Style]

		Project: Apps landing Template
		Version: 1.0
		Last Change: 23-01-2016
		Use For Competition: Zoom UI Kit
	--------------*/

.pricing-section {
	padding: 70px 0;
	overflow: hidden;
}	
.pricing-head {
    text-align: center;
    padding-bottom: 20px;
}
.pricing-table {
	font-family: "Montserrat Regular";
	width: 30%;
	height: auto;
	float: left;
	margin: 10px;
	border: 1px solid #e9ebec;
	border-radius: 5px;
	padding-bottom: 32px;
	cursor: pointer;
}
.pricing-table:hover {
	border: 1px solid #ff3366;
	-webkit-transform: scale(1.06);
	-ms-transform: scale(1.06);
	-o-transform: scale(1.06);
	transform: scale(1.06);
}
.pricing-title {
    background: #f7f8fa;
    padding: 1px 0 5px 7px;
	border-radius: 4px;
}
.pricing-title h4 {
	font-size: 20px;
}
.pricing-title span {
    display: block;
    font-size: 11px;
    padding-top: 4px;
}
.pricing-title p {
	color: #9da6ac;
	font-size: 12px;
}
.pricing-title .special-tag {
    background: #ff3366;
    color: #FFFFFF;
    float: right;
    text-transform: uppercase;
    font-size: 13px;
    padding: 3px 8px;
    border-radius: 12px;
}

.table-list {
	padding-left: 10px;
}
.table-list li {
	list-style: none;
	font-size: 13px;
	padding: 10px 0;
}
.table-list li::before {
	content: "\f00c";
	font-family: 'FontAwesome';
	color: #ff5f87;
	position: relative;
	right: 5px;
	font-size: 20px;
}
.table-buy {
	padding-left: 10px;
	border-top: 1px solid #e9ebec;
}
.price-value {
	color: #585b60;
	font-size: 22px;
	padding-top: 20px;
}
.price-value strong {
	font-size: 40px;
}
.price-value span {
	color: #9da6ac;
	font-size: 24px;
}
.sign-button {
    padding-top: 30px;
}
.sign-button a {
    background: #ff3366;
    text-decoration: none;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    border: 1px solid transparent;
}
.sign-button a:hover {
	background: #FFFFFF;
	color: #ff3366;
	border: 1px solid #ff3366;
	transition: 1s;
}
.table-buy .sign-button span {
    color: #9da6ac;
    float: right;
    font-size: 15px;
    padding-right: 15px;
}

	/*--------------
		[8. Client Comment Section Style]

		Project: Apps landing Template
		Version: 1.0
		Last Change: 23-01-2016
		Use For Competition: Zoom UI Kit
	--------------*/


.client-top-section {
    background: url('images/zoom-client-comment.jpg') no-repeat;
    padding: 150px 0;
    background-position: 50% 100%;
    overflow: hidden;
	position: relative;
}

.client-comment {
    padding-top: 74px;
}
.client-item {
    font-family: "Montserrat Regular";
    width: 70%;
    margin: 0 auto;
}
.client-item p {
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
}

.client-comment.owl-theme .owl-controls .owl-page span {
	background: #FFFFFF;
	width: 10px;
	height: 10px;
	margin-top: 30px;
}
.client-comment.owl-theme .owl-controls .owl-page.active span,
.client-comment.owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #FFFFFF;
}

	
	/*--------------
		[9. Client Logo Section Style]

		Project: Apps landing Template
		Version: 1.0
		Last Change: 23-01-2016
		Use For Competition: Zoom UI Kit
	--------------*/

.client-section {
	background: #F7FBFE;
	overflow: hidden;
	padding: 25px 0;
}
.client-head {
    text-align: center;
    padding-top: 15px;
}
.client-logo {
    width: 80%;
    margin: 0 auto;
}
.logo-item {
    float: left;
    margin: 30px;
}
.logo-item img {
    width: 100%;
    height: 25px;
}



	/*--------------
		[10. Download Section Style]

		Project: Apps landing Template
		Version: 1.0
		Last Change: 23-01-2016
		Use For Competition: Zoom UI Kit
	--------------*/

.download-section {
	font-family: "Montserrat Regular";
	padding: 60px 0;
	overflow: hidden;
}
.download-head {
	text-align: center;
}
.download-head p {
    color: #9da6ac;
    font-size: 14px;
	max-width: 43%;
    margin: 0 auto;
}
.download-app {
    width: 56%;
    margin: 0 auto;
    padding-top: 50px;
}
.download-item {
    float: left;
    color: #FFFFFF;
    border-radius: 5px;
    margin-right: 8px;
    margin-left: 9px;
    min-width: 29%;
}
.download-item i {
    float: left;
    padding-top: 5px;
    font-size: 34px;
    margin-left: 2px;
}
.app-apple {
	background: #83878A;
}
.app-play {
	background: #a4c639;
}
.app-win {
	background: #00bcf2;
}
.app-apple i:after {
	content: '';
	position: relative;
	border-right: 1px solid #919295;
	left: 6px;
}
.app-play i:after {
	content: '';
	position: relative;
	border-right: 1px solid #adcc4d;
	left: 6px;
}
.app-win i:after {
	content: '';
	position: relative;
	border-right: 1px solid #1ac3f3;
	left: 6px;
}
.download-content {
    padding-top: 9px;
    padding-left: 43px;
}
.download-content span {
	text-transform: uppercase;
}
.download-content strong {
    text-transform: uppercase;
    font-size: 17px;
}

	/*--------------
		[11. Subscribe Section Style]

		Project: Apps landing Template
		Version: 1.0
		LLast Change: 23-01-2016
		Use For Competition: Zoom UI Kit
	--------------*/

.subscribe-section {
	background: url('images/zoom-subscirbe.jpg') no-repeat;
	background-size: 100% 100%;
	padding: 150px 0;
	overflow: hidden;
	position: relative;
}
.frontshadow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .3);
}
.subscribe {
	font-family: "Montserrat Regular";
	text-align: center;
	padding-top: 50px;
}
.subscribe h4 {
	color: #FFFFFF;
}
.subscribe p {
	font-size: 14px;
	color: #FFFFFF;
}
.subs-form form {
    text-align: center;
    padding-top: 20px;
}
.subs-form form input {
    padding: 15px 90px;
    border-radius: 4px 0 0 4px;
    border: 0;
}
.subs-form input[placeholder] {
    color: #cccccc;
    text-transform: capitalize;
    padding-left: 9px;
}
.subs-form form a {
    text-decoration: none;
    color: #FFFFFF;
    background: #ff3366;
    padding: 12px 20px;
    border-radius: 0 4px 4px 0;
    font-size: 15px;
    margin-left: -4px;
    border: 1px solid transparent;
}
.subs-form form a:hover {
	background: #FFFFFF;
	color: #ff3366;
	border: 1px solid #ff3366;
	transition: 1s;
}


	/*--------------
		[12. Contact Us Section Styles]

		Project: Apps landing Template
		Version: 1.0
		Last Change: 23-01-2016
		Use For Competition: Zoom UI Kit
	--------------*/

.contactus-section {
    background: url('images/zoom-subs.png') no-repeat;
    background-size: 100% 100%;
    padding: 100px 0;
    overflow: hidden;
    position: relative;
}
.contact-head {
	text-align: center;
}
.contact-head h4 {
	
}
.contact-head p {
	font-size: 14px;
    color: #9da6ac;
    max-width: 46%;
    margin: 0 auto;
	padding-bottom: 35px;
}
.contact-form {
	font-family: "Montserrat Regular";
    width: 40%;
    margin: 0 auto;
	color: #cccccc;
}
.contact-form input[type="text"],
.contact-form input[type="email"] {
	display: block;
	width: 100%;
	border: 1px solid #e9ebec;
	margin-bottom: 15px;
	padding: 10px 0;
	border-radius: 4px;
	font-size: 16px;
	text-transform: capitalize;
}
.contact-form input placeholder {
	margin-left: 5px;
}
.contact-form textarea[name="message"] {
	display: block;
	width: 100%;
	border: 1px solid #e9ebec;
	margin-bottom: 10px;
	border-radius: 4px;
	font-size: 16px;
	text-transform: capitalize;
}
.contact-form input[type="submit"] {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 0;
	border-radius: 4px;
	background: #ff3366;
	color: #FFFFFF;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 35px;
	border: 1px solid transparent;
}
.contact-form input[type="submit"]:hover {
	background: #FFFFFF;
	color: #ff3366;
	border: 1px solid #ff3366;
	transition: 1s;
}
.contact-footer {
    text-align: center;
    position: absolute;
    bottom: 4px;
	width: 70%;
}
.contact-footer a {
	display: block;
	text-decoration: none;
    color: #d0d1d2;
    font-size: 15px;
}

	/*--------------
		[13. Footer Section Styles]

		Project: Apps landing Template
		Version: 1.0
		Last Change: 23-01-2016
		Use For Competition: Zoom UI Kit
	--------------*/


.footer-section {
	overflow: hidden;
	padding: 60px 0;
}
.social-media ul {
    padding: 0;
    list-style: none;
    max-width: 35%;
    margin: 0 auto;
}
.social-media ul li {
	display: inline;
	margin: 0 6px;
}
.social-media ul li a {
    text-decoration: none;
    color: #d0d1d2;
    font-size: 15px;
    border: 1px solid #e9ebec;
    border-radius: 100%;
    padding: 6px 9px;
}
.social-media ul li a:hover {
	border: 1px solid #ff3366;
	color: #ff3366;
	transition: 1s;
}
.copy-right {
    font-family: "Montserrat SemiBold";
    padding-top: 60px;
    position: relative;
    width: 34%;
    margin: 0 auto;
	text-align: center;
}
.copy-right::before {
    content: "";
    position: absolute;
    border: 1px solid #eff2f4;
    display: inline-block;
    top: 43px;
    min-width: 75%;
    left: 36px;
}
.copy-right p {
	color: #C5C5C5;
	font-size: 15px;
	
}
.copy-right a {
	text-decoration: none;
	color: #d5d5d5;
	font-size: 15px;
}
.copy-right a:hover {
	color: #ff3366;
}
.scrolltop {
	float: right;
}
.scrolltop a {
    background: #ff3366;
    color: #FFFFFF;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 18px;
    opacity: .7;
    position: fixed;
    right: 106px;
    bottom: 30px;
    text-decoration: none;
	display: none;
	border: 2px solid transparent;
}
.scrolltop a:hover {
	color: #ff3366;
	background: #FFFFFF;
	border: 2px solid #ff3366;
}







